{% extends "base.html" %}
{% block content %}
<!-- Show topic group -->
<div>
    <div class="margin-down">
        {% if currentUser %}
        <a href="{{base_path}}/threads/new" class="btn btn-primary new-button pull-right"><h4>Post new thread</h4></a>
        {% endif %}
        <h1>Threads in forum: {{topicGroup.name}}</h1>
    </div>
    <div>
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>Thread</th>
                <th class="text-right">Starter</th>
                <th class="text-right">Posts</th>
            </tr>
            </thead>
            <tbody>
            {% for thread in threads %}
            <tr>
                <td><a href="{{base_path}}/threads/{{thread.id}}" class="btn">{{thread.title}}</a></td>
                <td class="text-right">{{thread.creator}}</td>
                <td class="text-right">{{thread.postCount}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- Show topic group ends -->
{% endblock %}