{% macro destroyButton(action, divClass) %}
<div class={{divClass}}>
    <form method="post" class="destroy-form" action="{{action}}">
        <button type="submit" class="btn btn-danger">Remove</button>
    </form>
</div>
{% endmacro %}

{% macro forumPostAction(action, post, text) %}
<div>
    <form method="post" action="{{action}}">
        <div class="form-group">
            <label for="post-text">Message:</label>
            <textarea name="message" class="form-control" rows=7 id="post-text">{{post.message}}</textarea>
        </div>

        <button type="submit" class="btn btn-primary">{{text}}</button>
    </form>
</div>
{% endmacro %}

{% macro topicGroupAction(action, text, topicGroup) %}
<div>
    <form method="post" action="{{action}}">
        <div class="form-group">
            <label>Title:</label>
            <input name="name" class="form-control" type="text" value="{{topicGroup.name}}">
        </div>
        <div class="form-group">
            <label for="tg-info">Info:</label>
            <textarea name="info" class="form-control" rows=3 id="tg-info">{{topicGroup.info}}</textarea>
        </div>

        <button type="submit" class="btn btn-primary">{{text}}</button>
    </form>
</div>
{% endmacro %}

{% macro userGroupAction(action, text, userGroup) %}
<div>
    <form method="post" action="{{action}}">
        <div class="form-group">
            <label>Name:</label>
            <input name="name" class="form-control" type="text" value="{{userGroup.name}}">
        </div>
        <div class="form-group">
            <label for="ug-info">Info:</label>
            <textarea name="info" class="form-control" rows=2 id="ug-info">{{userGroup.info}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">{{text}}</button>
    </form>
</div>
{% endmacro %}

{% macro login(action) %}
<form method="post" action={{action}}>
    <input name="username" type="text" placeholder="Username">
    <input name="password" type="password" placeholder="Password">
    <input type="submit" class="btn btn-default" value="Log in">
</form>
{% endmacro %}