{% extends "base.html" %}
{% block content %}

<div>

    <h1>Users</h1>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Username</th>
            <th class="text-right">Registered</th>
            <th class="text-right">Post count</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td><a href="{{base_path}}/users/{{user.id}}" class="btn">{{user.username}}</a></td>
            <td class="text-right">{{user.created}}</td>
            <td class="text-right">{{user.postCount}}</td>
            <td><a href="{{base_path}}/users/{{user.id}}/edit" class="btn btn-warning pull-right">Edit</a></td>
            <form method="post" action="{{base_path}}/users/{{user.id}}/destroy">
                <td><button type="submit" class="btn btn-danger pull-right">Remove</button></td>
            </form>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}