{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<div>
    <div>
        <h1>{{user.username}}</h1>
    </div>
    <div>
        <p>{{user.info}}</p>
    </div>
    <div>
        <p>
            Registered: {{user.created}}
        </p>
    </div>

    {% if (currentUser and currentUser.id == user.id) or currentUser.admin %}
    <div>
        <p><a href="{{base_path}}/users/{{user.id}}/edit" class="btn btn-warning">Edit</a></p>
    </div>
    {% endif %}

    {% if currentUser.admin %}

    {{forms.destroyButton("#{base_path}/users/#{user.id}/destroy")}}

    {% endif %}


    <div class="margin-up">
        {% if user.posts %}

        <h3>Post history:</h3>

        {% for post in user.posts  %}
        <blockquote>
            <h6>In thread {{post.threadName}}, {{ post.created}}</h6>
            <a href="{{base_path}}/threads/{{post.threadId}}#post_{{post.id}}">{{post.message | truncate(40, true) }}</a>
        </blockquote>
        {% endfor %}

        {% else %}
        <p>The user doesn't have any posts yet</p>
        {% endif %}
    </div>
</div>

{% endblock %}