#main-container {
  max-width: 1200px;
  padding: 10px 25px;
  margin: 0px auto;
}

.navbar .container-fluid {
  max-width: 1200px;
  margin: 0px auto;
}

#header-logo {
  width: 100%;
  padding: 10px 25px;
  height: 136px;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.topic-group {
  padding-bottom: 10px;
}

.topic-group-info {
  text-indent: 20px;
}

.new-button {
  border-radius: 10px;
}

.thread {
  background-color: #596a7b;
  margin: 1em;
  padding: 1em;
  width: 90%;

  border-radius: 10px;
  overflow: hidden;
}

.thread a {
  text-decoration: none;
}

.post {
  width: 95%;
  border-style: solid;
  border-color: #2b3e50;
  border-width: 1px;

  padding-bottom: 1em;

  display: flex;
}

.post-info {
  width: 13%;

  border-right: solid;
  border-color: #2b3e50;
  border-width: 1px;

  padding-left: 0.5em;

  font-size: xx-small;
  float: left;
}

.post-info a {
  text-decoration: none;
}

.post-text {
  width: 80%;
  padding-top: 0.5em;
  margin-left: 1em;
}

.post-number a {
  text-decoration: none;
}

.margin-down {
  margin-bottom: 2em;
}

.post-reply {
  margin-top: 2em;
  display:inline-block;
  overflow:auto;
}

.post-reply-btn {
  margin-top: 2em;
  border-radius: 10px;
}

.back-to-threads-btn {
  float: right;
  border-radius: 4px;
  font-size: xx-small;
}

.edit {
  float: right;
  margin-right: 1em;
  margin-bottom: 1em;
}

.remove {
  float: right;
  margin-right: 1em;
  margin-bottom: 1em;
}

.margin-up {
  margin-top: 2em;
}

.thread-info-on-right {
  width: 7%;
  float: right;
}
.edit-info {
  font-size: xx-small;
  color: #31b0d5;
}