{% extends "base.html" %}
{% block content %}

<!-- New thread -->
<div>
    <div>
        <h1>Post new thread</h1>
    </div>
    <div>
        <form>
            <div class="form-group">
                <label for="new-thread">Topic group:</label>
                <select class="form-control" id="new-thread">
                    <option>Generic discussion</option>
                    <option>More specific discussion</option>
                </select>
            </div>
            <div class="form-group">
                <label>Title:</label>
                <input class="form-control" type="text">
            </div>

            <div class="form-group">
                <label for="comment">Message:</label>
                <textarea class="form-control" rows=7 id="comment"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit new thread</button>
        </form>
    </div>
</div>
<!-- New thread ends -->

{% endblock %}