{% extends "base.html" %}
{% block content %}

<!-- Thread area -->
<div class="thread">
    <div class="thread-top">
        <div class="back-to-threads">
            <a href="{{base_path}}/topic-groups/{{thread.topicGroupId}}" class="btn btn-default back-to-threads-btn">Back to {{thread.group}}</a>
        </div>
        <div class="margin-down">
            <h2>{{thread.title}}</h2>
        </div>
        {% if currentUser %}
        <div class="edit">
            <a href="{{base_path}}/threads/{{thread.id}}/edit" class="btn btn-warning">Edit</a>
        </div>
        <div class="remove">
            <form method="post" action="{{base_path}}/threads/{{thread.id}}/destroy">
                <button type="submit" class="btn btn-danger">Remove</button>
            </form>
        </div>
        {% endif %}
    </div>
    <!-- Content of the thread -->
    <div class="posts">
        {% for post in posts %}
        <div class="post">
            <div class="post-info">
                <h6>
                    {% if currentUser %}
                    <a href="{{base_path}}/users/{{post.creator_id}}">{{post.creator}}</a>
                    {% else %}
                    {{post.creator}}
                    {% endif %}
                </h6>
                Member</br>
                {{post.created}}

                <div class="margin-up">
                    {% if currentUser %}
                    <div>
                        <p><a href="{{base_path}}/posts/{{post.id}}/edit" class="btn btn-warning">Edit</a></p>
                    </div>
                    <div>
                        <form method="post" action="{{base_path}}/posts/{{post.id}}/destroy">
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="post-text">
                {{post.message | raw}}
            </div>
            <div class="thread-info-on-right">
                <div class="post-number">
                    <a href="{{base_path}}/posts/{{post.id}}">#{{post.numberInThread}}</a>
                </div>
                {% if post.edited %}
                <div class="edit-info">
                    Edited: {{post.edited}}
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Content of the thread ends -->
    {% if currentUser %}
    <div>
        <a href="{{base_path}}/threads/{{thread.id}}/posts/new" class="btn btn-primary post-reply-btn">Post reply</a>
    </div>
    {% endif %}
</div>
<!-- Thread area ends -->

{% endblock %}