{% extends "base.html" %}
{% block content %}
{% import "macros/loops.html" as loops %}

<!-- Edit thread -->
<div>
    <div>
        <h1>Edit thread: <a href="{{base_path}}/threads/{{thread.id}}">{{thread.title}}</a></h1>
    </div>

    {{ loops.errors("#{errors}") }}

    <div>
        <form method="post" action="{{base_path}}/threads/{{thread.id}}/edit">
            <input type="hidden" name="topicGroupId" value="{{thread.topicGroupId}}">
            <div class="form-group">
                <label>New name</label>
                <input name="title" class="form-control" type="text" value="{{thread.title}}">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<!-- Edit thread ends -->
{% endblock %}