{% extends "base.html" %}
{% block content %}

<!-- New thread -->
<div>
    <div>
        <h1>Post new thread</h1>
    </div>
    <div>
        <form method="post" action="{{base_path}}/threads/new">
            <div class="form-group">
                <label for="new-thread">Topic group:</label>
                <select name="topic_group_id" class="form-control" id="new-thread">
                    {% for group in topicGroups %}
                    <option value="{{group.id}}">{{group.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Title:</label>
                <input name="title" class="form-control" type="text">
            </div>

            <div class="form-group">
                <label for="comment">Message:</label>
                <textarea name="message" class="form-control" rows=7 id="comment"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit new thread</button>
        </form>
    </div>
</div>
<!-- New thread ends -->

{% endblock %}