{% extends "base.html" %}
{% block content %}

<div class="thread">
    <div class="thread-title">
        <h2>Generic people</h2>
    </div>
    <div class="post">
        <div class="post-info">
            <h6><a href="#">user1</a></h6>
            Member</br>
            01-08-2016, 10:00 AM
        </div>
        <div class="post-text">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Proin condimentum ex nibh, sed vulputate nulla lacinia et.
                Donec placerat fermentum sollicitudin. Nunc vitae leo urna.
                Etiam sed nulla in risus pretium hendrerit. Pellentesque
                feugiat dui in condimentum varius. Maecenas egestas elit at
                aliquam mattis. Nullam porttitor, neque sed egestas gravida,
                mi libero vehicula urna, id malesuada justo nisi id tellus.
                Sed ut interdum arcu. Proin laoreet molestie elementum.
                Vestibulum tristique, tortor eget luctus faucibus, erat risus
                varius erat, id viverra mauris justo vehicula risus.
            </p>
            <p>
                Vivamus varius varius odio, non accumsan quam tincidunt cursus.
                Phasellus consectetur leo eu ligula sollicitudin, elementum
                accumsan quam molestie. Phasellus maximus mattis massa, vel
                convallis erat porta eget. Nunc congue lacus augue, at
                scelerisque tortor elementum vel. Nam posuere est sed ante dictum
                dapibus. Sed ut velit et nisi convallis luctus. Cras sodales augue
                eget nulla viverra blandit. Quisque et massa placerat, lobortis
                nisl vel, ultrices urna. Vivamus egestas dolor a tellus vestibulum,
                quis fermentum ipsum gravida. Morbi rhoncus ultrices elit fringilla convallis.
            </p>
            <p>
                Morbi et augue ex. Donec eget nibh iaculis, varius lorem in, rutrum
                mauris. Duis feugiat tortor tortor, a pretium tellus convallis
                tempor. Maecenas a odio quis lorem volutpat imperdiet eget eget metus.
                Vivamus lobortis, metus quis dictum posuere, risus velit ultricies lorem,
                quis gravida sem neque tristique massa. Sed lacus metus, fermentum
                nec pulvinar et, fringilla et justo. Cras sit amet venenatis dui.
                Curabitur turpis ligula, porta in commodo nec, sollicitudin eget felis.
                Sed condimentum dui vel magna congue, a commodo nunc molestie. Nullam dui
                quam, suscipit at tristique nec, mollis sit amet tellus.
            </p>
        </div>
    </div>
    <div class="post">
        <div class="post-info">
            <h6><a href="#">user2</a></h6>
            Member</br>
            01-08-2016, 10:04 AM
        </div>
        <div class="post-text">
            <p>Generic second post here.</p>
        </div>
    </div>
    <div>
        <a href="#" class="btn btn-primary post-reply-btn">Post reply</a>
    </div>
</div>

{% endblock %}