{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
{% import "macros/post_macro.html" as forumPost %}

<!-- Thread area -->
<div class="thread">
    <div class="thread-top">
        <div class="back-to-threads">
            <a href="{{base_path}}/topic-groups/{{thread.topicGroupId}}" class="btn btn-default back-to-threads-btn">Back to {{thread.group}}</a>
        </div>
        <div class="margin-down">
            <h2>{{thread.title}}</h2>
        </div>
        {% if currentUser.admin %}
        <div class="edit">
            <a href="{{base_path}}/threads/{{thread.id}}/edit" class="btn btn-warning">Edit</a>
        </div>
        {{forms.destroyButton("#{base_path}/threads/#{thread.id}/destroy", "remove")}}
        {% endif %}
    </div>
    <!-- Content of the thread -->
    <div class="posts">
        {% for post in posts %}
        {{ forumPost.showPost("#{post}", "#{base_path}", "#{currentUser}") }}
        {% endfor %}
    </div>
    <!-- Content of the thread ends -->
    {% if currentUser %}
    <div>
        <a href="{{base_path}}/threads/{{thread.id}}/posts/new" class="btn btn-primary post-reply-btn">Post reply</a>
    </div>
    {% endif %}
</div>
<!-- Thread area ends -->

{% endblock %}