{% extends "base.html" %}
{% block content %}

<div class="thread">

    <h1><a href="{{base_path}}/threads/{{post.thread_id}}">{{post.thread}}</a></h1>
    <div class="post">
        <div class="post-info">
            <h6><a href="{{base_path}}/users/{{post.creator_id}}">{{post.creator}}</a></h6>
            Member</br>
            {{post.created}}

            <div class="margin-up">
                <div>
                    <p><a href="{{base_path}}/posts/{{post.id}}/edit" class="btn btn-warning">Edit</a></p>
                </div>
                <div>
                    <form method="post" action="{{base_path}}/posts/{{post.id}}/destroy">
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="post-text">
            {{post.message | raw}}
        </div>
        <div class="post-number">
            <a href="{{base_path}}/posts/{{post.id}}">#{{post.id}}</a>
        </div>

    </div>
</div>

{% endblock %}