{% extends "base.html" %}
{% block content %}
{% import "macros/loops.html" as loops %}

<div>
    <div>
        <h1>User group {{group.group.name}}</h1>
        <p>
            {{group.group.info}}
        </p>
        <div class="pull-right">
            <a href="{{base_path}}/user-groups/{{group.group.id}}/edit" class="btn btn-warning pull-right">Edit user group</a>
        </div>
        <p class="margin-up">
            Created: {{group.group.created}}
        </p>
        {% if group.group.edited %}
        <p>
            Status last changed: {{group.group.edited}}
        </p>
        {% endif %}
        <p>
            {{group.group.memberCount}} members
        </p>
    </div>
    <div>
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>Username</th>
                <th class="text-right">Registered</th>
                <th class="text-right">Added</th>
            </tr>
            </thead>
            <tbody>
            {% for membership in group.memberships %}
            <tr>
                <td><a href="{{base_path}}/users/{{membership.userId}}" class="btn">{{membership.user}}</a></td>
                <td class="text-right">{{membership.registered}}</td>
                <td class="text-right">{{membership.userAdded}}</td>
                <form method="post" class="destroy-form" action="{{base_path}}/memberships/{{membership.id}}/destroy">
                    <td><button type="submit" class="btn btn-danger pull-right">Remove</button></td>
                </form>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if usersNotInGroup %}

    {{ loops.errors("#{membershipErrors}") }}

    <div>
        <h3 class="margin-up">Add user</h3>
        <form method="post" action="{{base_path}}/memberships/new">
            <input type="hidden" name="groupId" value="{{group.group.id}}">
            <div class="form-group">
                <label for="username">Username</label>
                <select name="userId" class="form-control" id="username">
                    {% for user in usersNotInGroup %}
                    <option value="{{user.id}}">{{user.username}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Add user</button>
        </form>
    </div>
    {% endif %}
</div>


{% endblock %}