{% extends "base.html" %}
{% block content %}

<div>

    <div class="margin-down">
        <a href="{{base_path}}/user-groups/new" class="btn btn-primary new-button pull-right"><h4>New user group</h4></a>
        <h1>User groups</h1>
    </div>

    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Group name</th>
            <th>Members</th>
            <th>Last updated</th>
        </tr>
        </thead>
        <tbody>
        {% for group in groups %}
        <tr>
            <td><a href="{{base_path}}/user-groups/{{group.id}}" class="btn">{{group.name}}</a></td>
            <td>{{group.memberCount}}</td>
            <td>{{group.edited}}</td>
            <td><a href="{{base_path}}/user-groups/{{group.id}}/edit" class="btn btn-warning pull-right">Edit</a></td>
            <form method="post" class="destroy-form" action="{{base_path}}/user-groups/{{group.id}}/destroy">
                <td><button type="submit" class="btn btn-danger">Remove</button></td>
            </form>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}