<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {% block title %}
        Gendifo - The generic discussion forum
      {% endblock %}
    </title>

    {% block head %}
      <link href="{{base_path}}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="{{base_path}}/assets/css/site.css" rel="stylesheet">
    {% endblock %}
  </head>

  <body>

  <header>
    <!-- Nav bar -->
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{base_path}}/users/new">Register</a>
          {% if currentUser %}
          <a class="navbar-brand" href="{{base_path}}/users/">Users</a>
          {% endif %}
          {% if currentUser.admin %}
          <a class="navbar-brand" href="{{base_path}}/user-groups">Groups</a>
          {% endif %}
        </div>
        <div class="collapse navbar-collapse" id="navigation">
          <div class="nav navbar-nav navbar-right">
            {% if not currentUser %}
            <form method="post" action="{{base_path}}/login">
              <input name="username" type="text" placeholder="Username">
              <input name="password" type="text" placeholder="Password">
              <input type="submit" class="btn btn-default" value="Log in">
            </form>
            {% else %}
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{currentUser.username}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="user-option">
                <li><a href="{{base_path}}/users/{{currentUser.id}}">Profile page</a></li>
                <li><a href="{{base_path}}/users/{{currentUser.id}}/edit">Edit info</a></li>
                <li role="separator" class="divider"></li>
                <form method="post" action="{{base_path}}/logout">
                   <li><button type="submit" class="btn linkButton dropdown-item">Logout</button></li>
                </form>
              </ul>
            </div>
            {% endif%}
          </div>
        </div>
      </div>
    </nav>
    <!-- logo -->
    <div id="header-logo">
      <a href="{{base_path}}"><img src="{{base_path}}/assets/images/leaf.jpg"></a>
    </div>
  </header>

    <!-- Main content -->
    <div id="main-container">
      {% if message %}
      <div class="alert alert-success">
        {{message}}
      </div>
      {% endif %}

      {% block content %}{% endblock %}
    </div>

    {% block body %}
      <!-- jQuery -->
      <script src="{{base_path}}/vendor/jquery.min.js"></script>

      <!-- Bootstrap (skriptitiedosto) -->
      <script src="{{base_path}}/vendor/bootstrap/js/bootstrap.min.js"></script>

      <!-- Script file -->
      <script src="{{base_path}}/assets/js/site.js"></script>
    {% endblock %}
  </body>
</html>
